body {
    font-family: 'Catamaran', sans-serif;
    font-size:16px;
    letter-spacing:0.5rm;
    line-height :1.8rem;
    
}
span {
    font-size:100%;
    margin:0% 4px;
    padding:2px 4px;
    background-color: rgb(250, 66, 81);
    color: white;
}
h1 {
    font-size:180;
}
main {
    width:100%;
    height:100%;
    overflow-y: hidden;
}

.skills span {
    font-size:80%;
    margin:0% 4px;
    border-top:2px solid black;
    padding:2px 10px;
    background-color: rgb(250, 66, 81);
    color: white;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)) , url('https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&s=45c5cf82d2ba1d33849dcd0b678ec566&auto=format&fit=crop&w=1352&q=80');
    background-position-y:60%;
    background-size:cover;
    height:70vh;
    text-align:center;
}

section {
    padding:2%;
    margin: auto;
}

#description {
    position: relative;
    top:20%;
    margin-bottom:16%;
}
#description h1 {
    font-size: 700%;
    margin-bottom:2%;
    top:30%;
}
#description h2 {
    color: white;
}
#portfolio-links {
    border-right:1px solid rgba(0, 0, 0, 0.3)
}
#social-list {
    top: 60%;
}
#who {
    padding: 2% 8%;
    text-align: center;
    background-image: url('img/haff.png');
    background-repeat:repeat-x;
    background-size:cover;

}
.skills {
    padding:2% 7%;
}
.skill {
    margin:3% 0%;
    padding:0% 2%;
    border-left: 2px solid #ffd972;
    border-right: 2px solid #ffd972;
}

.social {
    color: white;
    padding:1%;
    text-align: center;
    display: inline-block;
    font-size:300%;
}

.sections-title {
    font-size:150%;
    text-align: center;
    padding:5px;
    border-bottom: 2px solid rgb(250, 66, 81);
    margin: auto;
    display: inline-block;
    margin-bottom:2%;
}
#cv {
    color:white;
    background-color: rgb(250, 66, 81);
    padding:12px 30px;
}

#projects {
    text-align: center;
    
}

.project {
    background-color: white;
    margin:2% 0%;
    /* border-top: 4px solid rgb(250, 66, 81); */
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1); 
}

.container-projects {
    width:70%;
    margin:auto;
}
.project-desc {
    padding:3% 2%;
    text-align: left;
    vertical-align: middle;
    
}

#reda {
    text-align: center
}

footer {
    background-color: #333;
    padding:2% 1%;
}
/* #profile {
    padding:1% 3%;
}
#profile img{
    margin-bottom:10px;
}

#left-side {
    background-color:#6e0d25;
    height: 100vh;
    display:inline-block;
    float: left;
    padding:2% 0;
    text-align:center;
    color: white;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#right-side {
    height: 100vh;
    float: left;
    padding:4% 4%;
    background-color: #fffffc;

}
#logo {
    padding: 3%;
    color: #333;
    border-radius:4px;
    display: inline-block;
    background-color: #f4f4f4;
}
#image {
    border-radius:50%;
    border:4px solid #f0e100;
}

.nav-list {
    padding:4% 0;
    font-size:160%;
}

.nav-link {
    padding:4% 7%;
    cursor: pointer;
    background-color:#333;
    color:white !important;
    border-bottom: 1px solid white;
}
.nav-link:hover {
    padding-right:10%;
    border-left:4px solid white;
    transition: 0.3s;
}

#navbar {
    text-align:left;
    margin:20% 0;
    padding:0;
}
#socials {
    font-size:300%;
}
#socials a{
    color: white;
}
#right-side {
    display:inline-block;
    height: 100vh;
    overflow-y:scroll;
    overflow-x: hidden;
}
#profile-img {
    float: left;
    padding:0;
}
#socials {
    text-align: center;
}

#socials-list {
    text-align: center;
}

.social {
    display: inline-block;
}

.box {
    background-color: #ffffff ;
    margin:1% 0;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.page {
    display:hide;
} */