body {
    font-family: 'Catamaran', sans-serif;
    font-size:16px;
    letter-spacing:0.5rm;
    line-height :1rem;
}
span {
    font-size:100%;
    margin:0% 4px;
    padding:2px 4px;
    background-color: rgb(250, 66, 81);
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    font-size:20px;
    margin:0 4%;
}

main {
    width:100%;
    height:100%;
    overflow-y: hidden;
}
#logo {
    font-size:100%;
} 
.skills span {
    font-size:80%;
    margin:0% 4px;
    border-top:2px solid black;
    padding:2px 10px;
    background-color: rgb(250, 66, 81);
    color: white;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) , url('https://images.unsplash.com/photo-1540721328090-e60d3adf153a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a923382897c2ad5ab62c2e8b18b70776&auto=format&fit=crop&w=1350&q=80');
    background-position-y:60%;
    background-size:cover;
    height:70vh;
    text-align:center;
}

section {
    padding:5% 2%;
    margin: auto;
}

#description {
    position: relative;
    top:60;
    margin-bottom:16%;
}
#description h1 {
    font-size: 700%;
    margin-bottom:2%;
    color: white;
}
#description h2 {
    color: white;
}
#portfolio-links {
    border-right:1px solid rgba(0, 0, 0, 0.3)
}
/* #social-list {
    top: 60%;
} */
#who {
    line-height:3rem; 
    padding: 2% 8%;
    text-align: center;
    background-image: url('img/haff.png');
    background-repeat:repeat-x;
    background-size:cover;
}

.skills {
    padding:2% 7%;
}

.social {
    color: white;
    padding:1%;
    text-align: center;
    display: inline-block;
    font-size:300%;
}

.sections-title {
    font-size:250%;
    text-align: center;
    padding:5px;
    border-bottom: 2px solid rgb(250, 66, 81);
    margin: auto;
    display: inline-block;
    margin-bottom:2%;
}


#projects {
    text-align: center;
    
}

.project {
    background-color: white;
    margin:2% 0%;
    /* border-top: 4px solid rgb(250, 66, 81); */
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1); 
}

.container-projects {
    width:80%;
    margin:auto;
}
.project-desc {
    padding:3% 2%;
    text-align: left;
    vertical-align: middle;
    
}

#reda {
    text-align: center
}


#reda p{
    font-size:140%;
    line-height:2.1em;
}

footer {
    background-color: #333;
    padding:2% 1%;
}

@media(max-width:767px){
    body {
        font-size:14px;
        line-height :1.8rem;
    }
    
    #description {
        top:25%;
    }
    
    #description h1 {
        font-size: 600%;
        margin-bottom:15%;
    }
    #description h2 {
        font-size:150%
    }
    /* #social-list {
        top: 90%;
    } */
    #cv {

        padding:6px 20px;
    }
    #reda {
        font-size:120%;
    }
    #profile {
        height:400px;
        width: 300px;
    }
    
    .project-desc {
        padding:9% 9%;
        font-size:80%;
    }
    .project {
        margin:5% 0%;
    }
    
    

    .container-projects {
        width:90%;
        margin:auto;
    }
}
@media(min-width:768px){
    body {
        font-size:16px;
        line-height :1.8rem;
    }
    
    #description {
        top:25%;
    }
    
    #description h1 {
        font-size: 600%;
        margin-bottom:5%;
    }
    #description h2 {
        font-size:130%
    }
    #cv {
        padding:6px 20px;
    }
    #reda {
        font-size:100%;
    }
    .project-desc {
        font-size:80%;
        padding:4% 3%;
    }
    .project {
        margin:5% 0%;
    }
    
    .container-projects {
        width:90%;
        margin:auto;
    }
}
@media(min-width:992px){
    #description {
        position: relative;
        top:35%;
        margin-bottom:16%;
    }
    #description h1 {
        font-size: 700%;
        margin-bottom:2%;
        top:30%;
    }
    #description h2 {
        color: white;
    }
    #portfolio-links {
        border-right:1px solid rgba(0, 0, 0, 0.3)
    }
    /* #social-list {
        top: 60%;
    } */
    #who {
        line-height:3rem; 
        padding: 2% 8%;
        text-align: center;
        background-image: url('img/haff.png');
        background-repeat:repeat-x;
        background-size:cover;
    
    }
    .skills {
        padding:2% 7%;
    }
    
    .social {
        color: white;
        padding:1%;
        text-align: center;
        display: inline-block;
        font-size:300%;
    }
    
    .sections-title {
        font-size:200%;
        text-align: center;
        padding:5px;
        border-bottom: 2px solid rgb(250, 66, 81);
        margin: auto;
        display: inline-block;
        margin-bottom:2%;
    }
    #cv {
        color:white;
        background-color: rgb(250, 66, 81);
        padding:12px 30px;
    }
    
    #projects {
        text-align: center;
        
    }
    
    .project {
        background-color: white;
        margin:2% 0%;
        /* border-top: 4px solid rgb(250, 66, 81); */
        box-shadow: 0px 2px 10px rgba(0,0,0,0.1); 
    }
    
    .container-projects {
        width:70%;
        margin:auto;
    }
    .project-desc {
        padding:3% 2%;
        font-size:100%;
        text-align: left;
        vertical-align: middle;
        
    }
    
    #reda {
        text-align: center
    }
}
@media(min-width:1200px){}


/* #profile {
    padding:1% 3%;
}
#profile img{
    margin-bottom:10px;
}

#left-side {
    background-color:#6e0d25;
    height: 100vh;
    display:inline-block;
    float: left;
    padding:2% 0;
    text-align:center;
    color: white;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#right-side {
    height: 100vh;
    float: left;
    padding:4% 4%;
    background-color: #fffffc;

}
#logo {
    padding: 3%;
    color: #333;
    border-radius:4px;
    display: inline-block;
    background-color: #f4f4f4;
}
#image {
    border-radius:50%;
    border:4px solid #f0e100;
}

.nav-list {
    padding:4% 0;
    font-size:160%;
}

.nav-link {
    padding:4% 7%;
    cursor: pointer;
    background-color:#333;
    color:white !important;
    border-bottom: 1px solid white;
}
.nav-link:hover {
    padding-right:10%;
    border-left:4px solid white;
    transition: 0.3s;
}

#navbar {
    text-align:left;
    margin:20% 0;
    padding:0;
}
#socials {
    font-size:300%;
}
#socials a{
    color: white;
}
#right-side {
    display:inline-block;
    height: 100vh;
    overflow-y:scroll;
    overflow-x: hidden;
}
#profile-img {
    float: left;
    padding:0;
}
#socials {
    text-align: center;
}

#socials-list {
    text-align: center;
}

.social {
    display: inline-block;
}

.box {
    background-color: #ffffff ;
    margin:1% 0;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.page {
    display:hide;
} */