.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: center;
}
  
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-default{
    background-color:transparent;
    border:0px;
}
.navbar-nav>li>a {
    margin:10px;
}