body {
    font-family: 'Noto Sans KR', sans-serif;

    font-size: 20px;
    font-size: 2rem;
    line-height: 32px;
    line-height: 3.2rem;
    color: #3b3a3a;
    font-weight: 300;
    margin: 0;
}

.bg-light {
    background-color: transparent!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

section {
    padding:3% 0%;
}

a {
    display: inline-block;
    margin-right:10px;
}
strong {
    color: rgba(250, 66, 81, 1);
}
header {
    padding:2%;
    height:75vh;
}

.section-title {
    opacity: 0.8;
}


#home-desc {
    border-left:3px solid rgba(250, 66, 81, 0.5);
}


#home-desc p{
    opacity:0.6;
    line-height: 2.2rem;
}
/*Projects*/


.project {
    padding:0%;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,123,255 , 1);
       
}
.project-content {
    
    padding: 10px;
    color: white;
    font-size:120%;
    padding:4%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.infos {
    display: inline;
    font-size:120%;
    padding:1%;
}
.project-title {
    font-size:200%;
}
.project-desc {
    font-size:90%;
}

.project:hover .overlay {
    opacity:1;
}
.project-link {
    font-size:160%;
    color: white;
}
/*end project*/
/*Skills*/
#skills {
    padding:1% 0%;
}

.skill {
    font-size:100%;
    margin:10px 0%;
}

#soft {
    margin:2% 0%;
    color: white;
    padding:4% 2%;
    line-height: 1.4rem;
    background-color: rgba(52, 73, 94,0.9);
}

#soft h2{
    font-weight:300;
    font-size:400%;
}

.soft-skills {
    padding:2% 0;
}

.needs {
    font-size :140% !important;
}

@media(max-width:767px){
    body {
        font-size:12px;
    }
    header {
        height:78vh;
    }
    .infos {
        display: inline-block;
        margin-top:20px;
        font-size:100%;
    }
    #home-desc {
        display: grid;
        align-items: center;
        margin:7% 0%;
        padding:5%;
    }
    #home-desc h1{
        font-size:300%;
    }
    #home-desc h2{
        font-size:130%;
    }
    #projects {
        padding:1% 3%;
    }
    #projects h2{
        font-size:120%;
    }
    .project img{
        height:350px;
    }
    .project-title {
        font-size:150%;
    }
    .project-desc {
        font-size:100%;
    }
    
    .project:hover .overlay {
        opacity:1;
    }
    .project-link {
        font-size:130%;
    }
    #skills h2{
        font-size:130%;
    }
    .skill {
        padding:2% 3%;
    }
    .skill img {
        border-bottom: 20px;
    }
    
}
@media(min-width:768px){
    body {
        font-size:14px;
    }
    header {
        height:78vh;
    }
    .infos {
        display: inline-block;
        
        font-size:100%;
    }
    #home-desc {
        display: grid;
        align-items: center;
        margin:7% 0%;
        padding:3%;
    }
    #home-desc h1{
        font-size:300%;
    }
    #home-desc h2{
        font-size:110%;
    }
    #home-desc p{
        font-size: 100%;
    }
    #projects {
        padding:1% 1%;
    }
    #projects h2{
        font-size:140%;
    }
    
    .project img{
        height:400px;
    }
    .project-title {
        font-size:150%;
    }
    .project-desc {
        font-size:100%;
    }
    
    .project:hover .overlay {
        opacity:1;
    }
    .project-link {
        font-size:130%;
    }
    #skills h2{
        font-size:130%;
    }
    #skills p {
        font-size:100%;
        line-height: 1.8rem;
        opacity:0.8;
    }
    .skill {
        padding:3%;
        
    }
    
}
@media(min-width:992px){
    .wrapper {
        width:65vw;
        margin: auto
    }
    .container {
        min-width:80%;
    }
    body {
        font-size:16px;
    }
    header {
        height:75vh;
    }
    .infos {
        display: inline-block;
        font-size:100%;
    }
    #home-desc {
        display: grid;
        align-items: center;
        margin:7% 0%;
        padding:5%;
    }
    #home-desc h1{
        font-size:300%;
    }
    #home-desc h2{
        font-size:140%;
    }
    #home-desc p{
        font-size :120%;
    }
    #projects {
        padding:1% 1%;
    }
    #projects h2 {
        font-size:160%;
    }
    #projects p {
        font-size:100%;
        line-height: 1.8rem;
        opacity:0.8;
    }
    .project {
        padding:10px;
    }
    .project img{
        height:450px;
    }
    .project-title {
        font-size:150%;
    }
    .project-desc {
        font-size:100%;
        
    }
    .project:hover .overlay {
        opacity:1;
    }
    .project-link {
        font-size:130%;
    }
    #skills h2{
        font-size:130%;
    }
    .skill {
        line-height: 1.5rem;
        padding:0% 1%;
        font-size:80%;
    } 
    .skill p{
        font-size:80%;
    }
    #soft h2 {
        font-size:120%;
    }
    #soft p {
        line-height: 1.8rem;
    }

}
@media(min-width:1200px){
    
}







