body {
    font-family: 'Nunito', sans-serif;
    font-size:16px;
}

section {
    padding:3% 0%;
}

a {
    display: inline-block;
    margin-right:10px;
}
strong {
    color: rgba(250, 66, 81, 1);
}
header {
    padding:4%;
    height:75vh;
}

#home-desc {
    border-left:2px solid rgba(250, 66, 81, 0.5);
}

#home-desc h1{
}

#home-desc p{
    opacity:0.6;
}
/*Projects*/

#projects {
}
.project {
    padding:0%;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(51, 51, 51 , 0.9)
}
.project-content {
    color: white;
    font-size:110%;
    padding:6%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.infos {
    display: inline;
    font-size:120%;
}
.project-title {
    font-size:300%;
}
.project-desc {
    font-size:110%;
}

.project:hover .overlay {
    opacity:1;
}
.project-link {
    font-size:160%;
}
/*end project*/
/*Skills*/
#skills {
    padding:3% 3%;
}
.skill {
    padding:2%;
    border-left:2px solid #f4f4f4;
    margin:20px 0%;
}

@media(max-width:767px){
    body {
        font-size:12px;
    }
    header {
        height:78vh;
    }
    .infos {
        display: inline-block;
        margin-top:20px;
        font-size:100%;
    }
    #home-desc {
        display: grid;
        align-items: center;
        margin:7% 0%;
        padding:5%;
    }
    #home-desc h2{
        font-size:130%;
    }
    #projects {
        padding:1% 3%;
    }
    #projects h2{
        font-size:120%;
    }
    .project img{
        height:350px;
    }
    #skills h2{
        font-size:130%;
    }
}
@media(min-width:768px){
    
}
@media(min-width:992px){
    
}
@media(min-width:1200px){
    
}







